.ProfileBorder{
    position: relative;
    width: auto;
    height: auto;
}

/*
    - Style for the unique border around the profile picture
*/
.ProfileBorder_Frame{
    width: auto;
    height: auto;
}
.ProfileBorder_Frame, .ProfileBorder_FrameNA{
    width: 65px;
    height: 65px;
    background-image: linear-gradient(90deg,rgba(197, 72, 50,0.4),rgba(197, 72, 50,0.6),rgba(197, 72, 50,1));
    border-radius: 5px;
    transform: rotate(-25deg);
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ProfileBorder_Frame::before,.ProfileBorder_FrameNA::before{
    content: '';
    width: 65px;
    height: 65px;
    background-image: linear-gradient(45deg,rgba(197, 72, 50,0.4),rgba(197, 72, 50,0.6),rgba(197, 72, 50,1));
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform: rotate(45deg);
}
.ProfileBorder_FrameNA{
    width: 35px;
    height: 35px;
    background-image: linear-gradient(90deg,rgba(121, 120, 120, 0.4),rgba(197, 72, 50,0.6),rgba(197, 72, 50,1));
}
.ProfileBorder_FrameNA::before{
    width: 35px;
    height: 35px;
    background-image: linear-gradient(45deg,rgba(121, 120, 120, 0.4),rgba(197, 72, 50,0.6),rgba(197, 72, 50,1));
}

/*
    -Style for the profile picture itself
*/
.ProfileBorder_Avatar{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 5px solid rgba(197, 72, 50,1);
    transform: rotate(25deg);
    z-index: 5;
}

.ProfileBorder_NoPicture{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 3px solid rgba(197, 72, 50,1);
    background-color: rgb(163, 82, 68);
    transform: rotate(25deg);
    z-index: 5;
    font-size: 12px;
    color: white;
    font-weight: 600;
}