.RankStats{
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 1rem;
    border-bottom: 1px dotted rgb(228, 225, 225);
}

.RankStats_Border > :not(:first-of-type){
    border-left: 1px solid rgb(228, 225, 225);
}

.RankStats_Popover{
    position: absolute;
    background-color: rgb(255, 255, 255);
    left: 0;
    width: 100%;
    min-height: 200px;
    border: 2px solid rgb(228, 225, 225);
    border-radius: 5px;
    z-index: 10;
}

.RankStats_Popover::before{
    content: '';
    position: absolute;
    left: 47%;
    top: -7%;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgb(228, 225, 225);
}

.RankStats_Popover div{
    border-left: 0;
}