.App{
  display: flex;
  align-items: center;
  justify-items: center;
  font-family: 'Open Sans', sans-serif;
}

.App_User_Container{
  height: 100vh;
  width: 100vw;
  background-color: grey;
  position: fixed;
  top:0;
  right:-150%;
  margin: 0;
  z-index: 1;
  transition: all 300ms ease-in-out;
}
.App_Active{
  right: 0;
  transition: all 300ms ease-in-out;
}


/*
@media screen and (min-width:600px){
  #App_UserProfile{
    width: 500px;
  }
}

*/